* {
    font-family: monospace;
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-family: monospace; */
    /* padding: 16px; */
    overflow-y: scroll;
}

:root {
    --alpha: 0.6;
    --char-alpha: 1;
    --text-color: #000000;
    --bg-r: 255;
    --bg-g: 255;
    --bg-b: 255;
    --char-bg-r: 255;
    --char-bg-g: 255;
    --char-bg-b: 255;
}

.content {
    /* background-color: red; */
    /* min-width: 420px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
}

.title-pre {
    text-align: center;
    font-weight: bold;
}

.image-container {
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(17, 17, 17);
    position: relative;
    max-width: 100vw;
    min-width: 100px;
    min-height: 100px;
    width: 400px;
    height: 400px;
    background-image: url('rabbit.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    resize: both;
    box-sizing: border-box;
}

.image-container .grid-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--bg-r), var(--bg-g), var(--bg-b), var(--alpha));
    z-index: 0;
}

.ascii-text {
    margin: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: black;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2em;
    z-index: 2;
    box-sizing: border-box;
    font-family: monospace;
    /* resize: none; */
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 0;
    caret-color: black;
    overflow: hidden;
}

textarea.ascii-text {
    background: transparent;
    color: var(--text-color);
    resize: none;
    border: none;
    outline: none;
}

#ascii-highlight {
    pointer-events: none;
    z-index: 0;
    background: transparent;
}

.char-bg {
    background: rgba(var(--char-bg-r), var(--char-bg-g), var(--char-bg-b), var(--char-alpha));
}

.ascii-button {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.ascii-button:active {
    >pre>.ascii-button-span-start {
        color: #7a7a7a
    }

    >pre>.ascii-button-span-end {
        color: white
    }
}

.ascii-button pre {
    padding: 0;
    margin: 0;
}

.ascii-button pre .ascii-button-span-start {
    color: white
}

.ascii-button pre .ascii-button-span-end {
    color: #7a7a7a
}


.options-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.file-options {
    width: fit-content  ;
}

a, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}